header.info
    .container
        include nav-bar.pug
        h2.info__name Меня зовут Богдан Гордин
        h1.info__role Я web-разработчик из города Москва
        .info__buttons-wrap
            button.info__portfolio Портфолио
            button.info__about О себе
        <svg class="info__hamburger" width="36" height="21" viewBox="0 0 36 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect y="9" width="36" height="3" fill="#151812"/>
            <rect x="6" y="18" width="30" height="3" fill="#151812"/>
            <rect x="6" width="30" height="3" fill="#151812"/>
        </svg>
include social.pug



