doctype html
html(lang="en")
    include head.pug
    body
        main.main
            include header.pug
            include about.pug
            include experience.pug
            include instruments.pug
            include portfolio.pug
            include price.pug
        include contacts.pug
        include scripts.pug