include card-ability.pug
include bar.pug
section.instr
    .container 
        .info.instr__info
            h2.info__name.info__name_place-circle_center Навыки
            h1.info__role.info__role_place_center Что я использую в работе
            .info__dev.info__dev_place_center
        .instr__cards
            +card-ability("instr_card","img/html5.svg","HTML5","Именно он создает каркас вашего сайта или приложения, а пятая версия позволит мне создавать более SEO-оптимизированную структуру вашего продукта")
            +card-ability("instr_card","img/css3.svg","CSS3","Этот язык стилей позволяет мне создавать абсолютно любой внешний вид вашего сайта или приложения. Все ограничивается только вашей фантазией!")
            +card-ability("instr_card","img/JS.svg","JavaScript","Этот язык программирования позволяет оживить все что угодно: слайдеры, окна, подсказки, вкладки, получение данных от сервера и многое другое")
            +card-ability("instr_card","img/Jquery.svg","Jquery","Библиотека Jquery позволит ускорить разработку. Без необходимости интегрировать в проект мы её не будем, но навык работы с ней присутствует")
            +card-ability("instr_card","img/Jquery.svg","Jquery","Библиотека Jquery позволит ускорить разработку. Без необходимости интегрировать в проект мы её не будем, но навык работы с ней присутствует")
            +card-ability("instr_card","img/JS.svg","JavaScript","Этот язык программирования позволяет оживить все что угодно: слайдеры, окна, подсказки, вкладки, получение данных от сервера и многое другое")
            +card-ability("instr_card","img/JS.svg","JavaScript","Этот язык программирования позволяет оживить все что угодно: слайдеры, окна, подсказки, вкладки, получение данных от сервера и многое другое")
            +card-ability("instr_card","img/JS.svg","JavaScript","Этот язык программирования позволяет оживить все что угодно: слайдеры, окна, подсказки, вкладки, получение данных от сервера и многое другое")    
        .instr__bars
            +bar("instr__bar","Создание сайтов",75)
            +bar("instr__bar","Создание приложений",100)
            +bar("instr__bar","Работа с данными",42)
            +bar("instr__bar","Креативность",92)
            +bar("instr__bar","Создание сайтов",56)
            +bar("instr__bar","Soft skills",22)