aside.nav-bar
    .nav-bar__panel
        ul.nav-bar__list
            li.nav-bar__item 
                a Про меня
            li.nav-bar__item 
                a Мой опыт
            li.nav-bar__item 
                a Мои Навыки
            li.nav-bar__item 
                a Мои работы
            li.nav-bar__item 
                a Прайс-лист
            li.nav-bar__item 
                a Контакты
        .nav-bar__social
            .nav-bar__icon
                img(src='img/Github.svg')
            .nav-bar__icon
                img(src='img/Instagram.svg')
            .nav-bar__icon
                img(src='img/Facebook.svg')
        .nav-bar__close
            img(src='img/Close.svg')
    .nav-bar__background