include price__card.pug
article.price
    .container
        .info.price__info
            h2.info__name.info__name_place-circle_center Прайс-лист
            .info__dev.info__dev_place_center
        .price__wrap-columns
            .price__wrap
                +price__card("Landing-page","8000","Одностраничный сайт для презентации услуг/товаров/...")
                +price__card("Landing-page","20000","Одностраничный сайт для презентации услуг/товаров/...")
                +price__card("Landing-page","20000","Одностраничный сайт для презентации услуг/товаров/...")
            .price__wrap
                +price__card("Landing-page","30000","Одностраничный сайт для презентации услуг/товаров/...")
                +price__card("Landing-page","28000","Одностраничный сайт для презентации услуг/товаров/...")
                +price__card("Landing-page","25000","Одностраничный сайт для презентации услуг/товаров/...")
            
