@font-face {
    font-family: 'Oswald';
    src: url('./Oswald-Light.ttf') format('truetype'), url('./Oswald-Bold.ttf') format('truetype');
    font-weight: 300, 700;
    font-style: normal;
    font-display: swap;
}